$dark-nav-color: #333333;
body.home,
body.archive,
body.page,
body.search {
  background: #f5f5f5;
}
body.page {
  .content-main-container {
    background: white;
  }
}
body.post-template-default,
body.post-template,
body.archive.author {
  background: #ffffff;
}
// Update the font color of block quotes
// TODO: Move this to a more appropriate scss file location. -JMS
blockquote, blockquote p {
  line-height: 1.6;
  color: #333;
}