.author-meta-area {
  display: flex;
  justify-content: space-between;
}
.larger-author-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.author-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}