.author-widget {
  .author-social-contact {
    justify-content: center;
    svg {
      @include breakpoint( medium ) {
      height: 25px;
      width: 25px;
      }
    }
  }
}
.author-meta-area {
  @extend .text-center;
}
.larger-author-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.author-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.author-meta {
  display: flex;
}