.interlacer-widget {
  margin: 2rem;
  #email-newsletter-email-submit {
    padding: 0.85em 2em;
  }
  h5 {
    font-size: 1.4625rem;
    @include breakpoint(medium) {
      font-size: 1.85rem;
    }
  }
  .interlacer-content-holder {
    width: 350px;
    padding: 16px;
    margin-right: 20px;
  }
}
