.widget-dice-salary-predictor-widget {
  .salary-predictor-job-title {
    margin-bottom: 0;
  }
  .salary-predictor-locale {
    color: #999999;
    font-size: 14px;
    line-height: 18px;
  }
  .salary-predictor-range {
    color: #006699;
    font-size: 20px;
  }
  .related-jobs-category-prompt {
    color: #999999;
    font-size: 14px;
    line-height: 18px;
  }
  #salary-predictor-cta {

  }
}