// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}
.small-navigation {
  .logo-holder {
    display: flex;

    p {
      margin: 0;
    }
  }
}
.nav-links {
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    padding: $global-padding/2;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    box-shadow: 0 0 1px 0 $medium-gray;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    &:hover {
      background-color: $medium-gray;
      border-radius: $global-radius;
    }
    i {
      font-size: 2rem;
    }
  }
  .nav-previous {
    padding-right: 10%;
    i {
      margin-right: $global-margin/2;
    }
  }
  .nav-next {
    text-align: right;
    i {
      margin-left: $global-margin/2;
    }
  }

}
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {
  .logo-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      align-items: center;
      display: flex;
    }
  }
 ul.submenu {
   background-color: $dark-gray;
 }
  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;
    &:hover:not(.button) {
      background-color: #4d4d4d;
    }
  }

  .menu .active > a { background-color: #ccc; }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
    width: 100%;
  }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu .menu-item-has-children a {
    padding-right: 38px;
    display: block;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: $white transparent transparent;
    right: 13px;
  }
  //.dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}
.top-bar-nav {
  background: $dark-nav-color;
  .main-container {
    padding-right: 0;
    padding-left: 0;
    @include breakpoint(medium down) {
      border: 1px solid #090909;
    }
  }
}

.drilldown a {
  background: $dark-nav-color;
}

.drilldown .js-drilldown-back > a::before {
  border-color: transparent $white transparent transparent;
}

.drilldown .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent $pure-white;
}
.main-nav {
  background: #66ccff;
  .main-container {
    @media screen and (max-width: 880px) and (min-width: 769px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .dropdown.menu {
    display: flex;
    flex-wrap: nowrap;
    a {
      padding: 16px 22px;;
      @media screen and (max-width: 880px) and (min-width: 769px) {
        padding: 16px 16px;
      }
    }
  }
  li {
    display: flex;
    align-items: center;
  }
  .dropdown.menu .menu-item-has-children a {
    padding: 16px 38px 16px 22px;
    @media screen and (max-width: 880px) and (min-width: 769px) {
      padding: 16px 38px 16px 16px;
    }
  }
  ul:not(.nested) {
    border-left: 1px solid #9bdeff;
  }
  li:not(.is-submenu-item) {
    border-right: 1px solid #9bdeff;
  }
  a {
    color: $white;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: $white transparent transparent;
    right: 13px;
  }
  .is-dropdown-submenu .is-active > a {
    color: $theme-main;
  }
  .is-dropdown-submenu {
    background: #f5f5f5;
    a {
      color: #999;
      display: flex !important;
      width: 100%;
      svg {
        flex: 0 0 35px
      }
    }
  }
}

.title-bar, .top-bar-nav {
  @include breakpoint(small only) {
    background: $dark-nav-color;
  }
}
.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
  .menu a {
    display: inline-block;
    transition: background 0.1s ease-out, color 0.1s ease-out;
    &:hover {
      background: rgba(0, 102, 153, 0.70);
      color: white;
    }
  }
}

.main-nav {
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    background: #006699;
    color: white;
  }
  .current-menu-item {
    background: #006699;
    > a {
      color: white;
    }
  }
}
// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
  svg {
    margin-right: 8px;
  }
}

.nav-next {
  float:right;
  svg {
    margin-left: 8px;
  }
}
