.widget {
  background: #fff;
  padding: 1rem 1.3125rem 1rem;
  margin-bottom: 1rem;
  border: solid;
  border-width: 2px 1px 1px 1px;
  border-color: get-color(theme) $medium-gray $medium-gray $medium-gray;
  position: relative;
  ul {
    margin-left: 0;
    display: block;
  }
}

.widget .heading {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 14px;
}

.widget_top-posts {
  ul li {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  ul li:not(:first-of-type) {
    border-top: 1px solid #ebebeb;
  }

  ul li:last-of-type {
    margin-bottom: 14px;
  }

  ul li p,
  .widget .job-result p {
    margin-bottom: 0;
  }
}

// Jetpack Related Posts that *don't* appear on local
@media only screen and (max-width: 640px) {
  #jp-relatedposts .jp-relatedposts-items-visual {
    margin-right: 0 !important;
  }

}

@media only screen and (max-width: 640px) {
  #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
    width: 100% !important;
    margin: auto !important;
    text-align: center;
    float: none !important;
    padding: 0 !important;
  }
  #jp-relatedposts h3.jp-relatedposts-headline {
    em {
      font-family: $header-font-family !important;
      margin: 0 0 -1px !important;
      padding: 0 0 14px !important;
      font-size: 19px !important;
      line-height: 22px !important;
      font-weight: 400 !important;
      color: #000 !important;
      position: relative !important;
      border-bottom: 2px solid #6cf !important;
    }
  }
}

#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img, #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post span {
  width: 100% !important;
}